transformers==4.43.0
datasets==2.19.1
sentencepiece==0.2.0

torch==2.2.2
accelerate==0.30.1

scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.2

nltk==3.8.1
spacy==3.7.4
keybert==0.8.3

rouge-score==0.1.2
evaluate==0.4.2

fastapi==0.110.0
uvicorn==0.29.0

streamlit==1.33.0

rich==13.7.1
tqdm==4.66.4

requests==2.31.0
python-dotenv==1.0.1
